# Compiled Object files
*.o
*.obj

# Precompiled Headers
*.pch

# Compiled Static libraries
*.lib

# Executables
*.exe
*.suo
*.user
*.ncb
asset/textures/terrain/output.bmp
*.glsl.h
source/*/bin
source/*/obj
source/*/Debug
source/Debug
